* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#clientId {display:inline-block;margin-right:10px; width:20px;}
#clientMessage {display:inline-block}

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-seri;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

header nav {
  padding: 0 30px;
}

header .your--handle {
  font-size: 18px;
  background: #212121;
  font-weight: bold;
}

.mainArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mainArea__dimmed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
}

.mainArea__handle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
  width: 400px;
  z-index: 100;
}

.mainArea__top {
  position: absolute;
  top: 51px;
  right: 0;
  bottom: 70px;
  left: 0;
  padding: 0;
  margin: 0;
}

.mainArea__top--timeline {
  float: left;
  left: 0;
  height: 100%;
  width: 80%;
  padding: 20px;
  margin: 0;
  overflow: auto;
  border-right: 5px solid #333;
  background: #ecf0f1;
}

.timeline__list {
  list-style: none;
}

.timeline__list li {
  padding: 5px;
  font-size: 18px;
}

.timeline__item--handle {
  width: 150px;
  float: left;
}

.timline__item--message {
  width: 100%;
}

.timeline__list li.roomMessage {
  text-align: center;
  color: gray;
}

.timeline__list li.botMessage {
  
}

.mainArea__top--users {
  float: right;
  right: 0;
  height: 100%;
  width: 20%;
  padding: 0;
  margin: 0;
  border-left: 2px solid #ccc;
}

.user__list {
  padding-left: 30px;
  font-size: 20px;
}

.mainArea__bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;
}

.mainArea__bottom--form {
  width: 100%;
  height: 40px;
}

footer {
  height: 30px;
  padding: 8px;
}